<!DOCTYPE html>
<html>
  <head>
    <script src="jquery.min.js"></script>
    
    <style>
    </style>
  </head>
  
  <body>
    <div>
      <iframe src="interactive_dendrogram.html" width="85%" height="700" frameBorder="0"></iframe>
    </div>
    <div>
      <iframe name="iframe2" src="output.html?q=" width="90%" height="1300" frameBorder="0"></iframe>
    </div>
  </body>
</html>
